<svg viewBox="-1 -1 2 2" xmlns="http://www.w3.org/2000/svg">
    <style>
        :is(svg) {
            --foreground: black;
            --background: white;
            transform: var(--transform);
            stroke-width: {{ 1 | ptInCm }};
        }
        .right {
            --transform: scale(1, -1);
        }
        .backward {
            --transform: scale(-1, 1);
        }
        .backward.right {
            --transform: scale(-1, -1);
        }
    </style>
    {{ content | safe -}}
</svg>