---
options:
    "horizontal direction":
        default: forward
        classes:
        - forward
        - backward
    friction:
        classes:
        - friction
---
<style>
    .friction {
        --friction-length: 0.5px;
        --opacity-buffer-stop-point: 1;
    }
</style>
<path d="m -0.1 -0.2 h 0.1 v 0.4 h -0.1" fill="none" stroke="black" style="stroke: var(--foreground); transform: translateX(calc(var(--friction-length, 0) * -1))" />
<circle r="0.06" cx="0" cy="0" style="opacity: var(--opacity-buffer-stop-point, 0); fill: var(--foreground)" />