---
options:
    "horizontal direction":
        default: forward
        classes:
        - forward
        - backward
---
<path d="m -0.1 -0.2 h 0.1 v 0.4 h -0.1" fill="none" stroke="black" style="stroke: var(--foreground)" />
