---
order: 4
options:
    "horizontal direction":
        required: true
        classes:
        - forward
        - backward
    friction:
        classes:
        - friction
advanced:
    "friction length":
        property: --friction-length
        default: 0.5
        unit: px
        summary: Friction has to be enabled
        type: range
---
<style>
    .friction {
        --friction-length: 0.5px;
        --opacity-buffer-stop-point: 1;
    }
</style>
<path d="m -0.1 -0.2 h 0.1 v 0.4 h -0.1" fill="none" style="transform: translateX(calc(var(--friction-length, 0) * -1))" />
<circle r="0.06" cx="0" cy="0" stroke-width="0" style="opacity: var(--opacity-buffer-stop-point, 0)" />