---
order: 7
options:
    "branch direction":
        required: true
        classes:
            - branch-left
            - branch-right
    "fouling point":
        classes:
        - fouling-point
---
<path d="m 0 0 h 0.4 v -0.4 z" fill="none" stroke="black" style="stroke: var(--foreground)" />
<path d="m 0 0 h -0.4 v 0.4 z" fill="none" stroke="black" style="stroke: var(--foreground)" />

{#-
    fouling point
#}
<style>
    .fouling-point {
        --opacity-fouling-point: 1;
    }
</style>
<line
    style="opacity: var(--opacity-fouling-point, 0); stroke: var(--foreground)"
    x1="0.7" y1="0"
    x2="0.7" y2="-0.7"
    stroke="black"
/>
<line
    style="opacity: var(--opacity-fouling-point, 0); stroke: var(--foreground)"
    x1="-0.7" y1="0"
    x2="-0.7" y2="0.7"
    stroke="black"
/>
