---
order: 8
options:
    "branch direction":
        required: true
        classes:
            - branch-left
            - branch-right
    slip:
        default: slip-double
        classes:
            - slip-double
            - slip-none
            - slip-left
            - slip-right
    operation:
        classes:
        - manual-operation
    "fouling point":
        classes:
        - fouling-point
    "forward pointer":
        classes:
        - forward-points-left
        - forward-points-right
        - forward-points-moving
    "backward pointer":
        classes:
        - backward-points-left
        - backward-points-right
        - backward-points-moving
---
<style>
    .forward-points-left:not(.right) {
        --opacity-forward-pointer-top: 1;
    }
    .forward-points-right:not(.right) {
        --opacity-forward-pointer-bottom: 1;
    }
    .forward-points-left.right {
        --opacity-forward-pointer-bottom: 1;
    }
    .forward-points-right.right {
        --opacity-forward-pointer-top: 1;
    }
    .forward-points-moving {
        --opacity-forward-pointer-moving: 1;
    }
    .backward-points-left:not(.right) {
        --opacity-backward-pointer-top: 1;
    }
    .backward-points-right:not(.right) {
        --opacity-backward-pointer-bottom: 1;
    }
    .backward-points-left.right {
        --opacity-backward-pointer-bottom: 1;
    }
    .backward-points-right.right {
        --opacity-backward-pointer-top: 1;
    }
    .backward-points-moving {
        --opacity-backward-pointer-moving: 1;
    }

    #slipturnout-forward {
        --transform:;
        --opacity-pointer-top:      var(--opacity-forward-pointer-top);
        --opacity-pointer-bottom:   var(--opacity-forward-pointer-bottom);
        --opacity-pointer-moving:   var(--opacity-forward-pointer-moving);
    }
    #sliptournout-backward {
        --transform: scale(-1, -1);
        --opacity-pointer-top:      var(--opacity-backward-pointer-top);
        --opacity-pointer-bottom:   var(--opacity-backward-pointer-bottom);
        --opacity-pointer-moving:   var(--opacity-backward-pointer-moving);
    }
</style>
<use href="#turnout" id="slipturnout-forward"/>
<use href="#turnout" id="sliptournout-backward"/>
{#-
    slips
#}
<style>
    .slip-none {
        --opacity-slip-top: 0;
        --opacity-slip-bottom: 0;
    }
    .slip-left {
        --opacity-slip-top: 1;
        --opacity-slip-bottom: 0;
    }
    .slip-left.right {
        --opacity-slip-top: 0;
        --opacity-slip-bottom: 1;
    }
    .slip-right {
        --opacity-slip-top: 0;
        --opacity-slip-bottom: 1;
    }
    .slip-right.right {
        --opacity-slip-top: 1;
        --opacity-slip-bottom: 0;
    }
</style>
<path
    style="opacity: var(--opacity-slip-top, 1)"
    fill="none"
    stroke-width="{{ 0.75 | ptInCm }}"
    d="M -0.4 -0.1 L 0.3 -0.4"
/>
<path
    style="opacity: var(--opacity-slip-bottom, 1)"
    fill="none"
    stroke-width="{{ 0.75 | ptInCm }}"
    d="M 0.4 0.1 L -0.3 0.4"
/>