---
order: 6
options:
    "horizontal direction":
        required: true
        classes:
        - forward
        - backward
    "branch direction":
        required: true
        classes:
            - branch-left
            - branch-right
    operation:
        classes:
        - manual-operation
    "fouling point":
        classes:
        - fouling-point
    pointer:
        classes:
        - points-left
        - points-right
        - points-moving
---
{#-
    Turnout
#}
<style>
    .manual-operation {
        --turnout-fill: url(#turnout-manual-operation);
    }
</style>
<defs>
    <pattern id="turnout-manual-operation" viewBox="0 0 1 1" width="20%" height="20%" stroke-width="0.1" style="stroke: var(--foreground)" >
        <line x1="0" y1="-1" x2="2" y2="1" />
        <line x1="0" y1="0" x2="1" y2="1" />
        <line x1="-1" y1="0" x2="1" y2="2" />
    </pattern>
</defs>
{%- set turnoutLength = 0.4 -%}
<path
    style="fill: var(--turnout-fill, var(--foreground)); stroke: var(--foreground)"
    d="m 0 0 h {{ turnoutLength }} v {{ turnoutLength * -1 }} z"
/>

{#-
    fouling point
#}
<style>
    .fouling-point {
        --opacity-fouling-point: 1;
    }
</style>
<line
    style="opacity: var(--opacity-fouling-point, 0); stroke: var(--foreground)"
    x1="0.7" y1="0"
    x2="0.7" y2="-0.7"
    stroke="black"
/>

{#-
    top / bottom pointer
#}
<style>
    .points-left:not(.right) {
        --opacity-pointer-top: 1;
    }
    .points-right:not(.right) {
        --opacity-pointer-bottom: 1;
    }
    .points-left.right {
        --opacity-pointer-bottom: 1;
    }
    .points-right.right {
        --opacity-pointer-top: 1;
    }
</style>
<line
    style="opacity: var(--opacity-pointer-top, 0); stroke: var(--foreground)"
    x1="-0.035" y1="-0.1"
    x2="0.165" y2="-0.3"
    stroke-width="{{ 1.5 | ptInCm }}"
    stroke="black"
/>
<line
    style="opacity: var(--opacity-pointer-bottom, 0); stroke: var(--foreground)"
    x1="0.035" y1="0.1"
    x2="0.3" y2="0.1"
    stroke-width="{{ 1.5 | ptInCm }}"
    stroke="black"
/>

{#-
    pointer moving
#}
<style>
    .points-moving {
        --opacity-pointer-moving: 1;
    }
</style>
<g style="opacity: var(--opacity-pointer-moving, 0); fill: var(--foreground)">
    <circle r="0.05" cx="0.075" cy="0.1" />
    <circle r="0.05" cx="0.225" cy="0.1" />
    <circle r="0.05" cx="0.015" cy="-0.15" />
    <circle r="0.05" cx="0.115" cy="-0.25" />
</g>
